button {
	padding: 0 16px;
	border-radius: 80px;
}


/* primary */
button.primary {
	background-color: var(--color-brand-aqua);
	color: var(--color-brand-petroleum);
}

button.primary:hover {
	background-color: var(--color-brand-cyan);
	color: var(--color-brand-petroleum);
}

button.primary:active {
	background-color: var(--color-brand-blue);
	color: #FFFFFF;
}

/* secondary */
button.secondary {
	border: 2px solid var(--color-brand-cyan);
	background-color: transparent;
	color: var(--color-brand-sky);
}

button.secondary:hover {
	border-color: var(--color-brand-cyan);
	background-color: rgb(44 170 255 / 16%);
	color: #FFFFFF;
}

button.secondary:active {
	border-color: var(--color-brand-blue);
	background-color: var(--color-brand-blue);
	color: #FFFFFF;
}

/* Disabled - Primary, Secondary */
button.primary[disabled], button.secondary[disabled]{
	border-color: rgb(255 255 255 / 28%);
	background-color: rgb(255 255 255 / 28%);
	color: rgb(255 255 255 / 64%);
}

/* Tertiary */
button.tertiary {
	border: 2px solid var(--color-brand-sky);
	background-color: transparent;
	color: var(--color-brand-sky);
}

button.tertiary:hover {
	border-color: var(--color-brand-cyan);
	background-color: rgb(44 170 255 / 16%);
	color: #FFFFFF;
}

button.tertiary:active {
	border-color: var(--color-brand-aqua);
	background-color: var(--color-brand-aqua);
	color: var(--color-brand-petroleum);
}

/* Disabled - Tertiary */
button.tertiary[disabled]{
	border-color: rgb(255 255 255 / 28%);
	background-color: transparent;
	color: rgb(255 255 255 / 38%);
}

/* Ghost */
button.ghost {
	background-color: transparent;
	color: var(--color-brand-sky);
}

button.ghost:hover {
	background-color: rgb(44 170 255 / 16%);
	color: #FFFFFF;
}

button.ghost:active {
	background-color: var(--color-brand-aqua);
	color: var(--color-brand-petroleum);
}

/* Disabled - Ghost */
button.ghost[disabled]{
	background-color: transparent;
	color: rgb(255 255 255 / 38%);
}


/* sizes */
button[size="large"]{
	height: 48px;
}

button {
	height: 40px;
	font-weight: 600;
	transition: all 200ms ease-in-out;
}

button[size="small"]{
	height: 36px;
	font-size: 14px;
}
