[data-theme="light"] {
	--color-primary: var(--color-brand-aqua);
	--color-primary-action: var(--color-brand-cyan-dark);
	--color-secondary: var(--color-brand-cyan);
	--color-text: var(--color-brand-petroleum);
	--color-text-offset: var(--color-brand-blue);
	--color-background: #FFFFFF;
	--color-background-offset: var(--color-brand-sky);
	--color-border: rgb(7 16 43 / 14%);
}

/* Tailwind */

[data-theme="dark"] {
  --color-primary: var(--color-brand-aqua);
  --color-primary-action: var(--color-brand-cyan-dark);
  --color-secondary: var(--color-brand-cyan);
  --color-text: #FFFFFF;
  --color-text-offset: var(--color-brand-sky);
  --color-background: var(--color-brand-gradient-start);
  --color-background-offset: var(--color-brand-petroleum);
  --color-border: rgb(87 187 255 / 24%);
}

.sections {
  @apply px-9
}

.gradient-text {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-br from-brand-sky from-10% to-brand-aqua to-100%;
}

.btn-primary {
  @apply rounded-full bg-primary text-brand-petroleum hover:bg-brand-cyan transition-all duration-300;
}

.btn-outline {
  @apply rounded-full border text-primary border-primary;
}

.f-32{ font-size: 32px; }
.f-40{ font-size: 40px; }

@media (min-width: 1024px) {
	.f-32{ font-size: 32px; }
	.f-40{ font-size: 40px; }
}
